*{
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

body{
    background-image: url(pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(225, 100%, 94%);
    font-size: 16px;
}

main{
    background-color: white;
    border-radius: 20px;
    transform: translateY(20vh);
    
}

div#imagem{
    background: url(illustration-hero.svg);
    background-repeat: no-repeat;
    background-size: cover 50%;
    height: 50%;
    border-radius: 20px 20px 0px 0px;
}